.footer-placeholder {
  width: 100%;
  height: 70px;
  background: #004643;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  bottom: 0px;
}

.footer-placeholder h1 {
  font-size: 18px;
  font-weight: normal;
  color: #fffffe;
  opacity: 0.8;
  margin: 0px;
}

.footer-placeholder span {
  text-decoration: underline;
  color: white;
}
