

.navbar-light .navbar-nav .nav-link{
    color: white;
    margin-top: 6px;
    cursor: pointer;
    transition: 0.7s;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #f9bc60;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: end;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("https://raw.githubusercontent.com/thxjao/Agrisus-Frontend/1f33e778ad9fc9391339b177dfa7fc2fc4670c08/my-app/src/assets/hamMenu.svg");
    }

.nav{
    display: flex;
    flex-direction: row;
}

img{
    width: 90px;
    height: 60px;
}

.logo-page{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-page span{
    color: white;
}

.divisoria{
    height: 60px;
}

span{
    font-size: 0.8em;
    margin-top: 6px;
}

.bg-light{
    background-color: #004643 !important;
}

.navbar-light{
    background-color: #004643;
}

.navbar{
    display: flex;
    width: 100%;
}

.navbar-toggler-icon{
    color: white !important;
}

.navbar-toggler{
    color: white !important;
}

a{
    text-decoration: none;
}




